* {
    box-sizing: border-box;
}

body {
    background: #20202D;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.container {
    max-width: 945px;
    margin: auto;
}

.section {
    padding-top: 64px;
    padding-bottom: 92px;
}

.section-title {
    margin: 0;
    margin-bottom: 84px;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}

.hero {
    padding-top: 50px;
    padding-bottom: 155px;
    background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
}

.hero-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links {
    display: flex;
    justify-content: space-around;
}

.social-link {
    margin-right: 21px;
}

.hero-content {
    padding-top: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-profession {
    font-size: 24px;
    line-height: 28px;
    color: #FFBB01;
}

.hero-name {
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
}

.hero-description {
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    max-width: 420px;
    margin-bottom: 38px;
}

.hero-button {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #2E2E30;
    padding: 24px 41px;
    border: none;
    background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
    box-shadow: 0px 4px 0px #B68500;
    border-radius: 5px 5px 10px 10px;
}

.hero-avatar {
    width: 389px;
    height: 389px;
    background-color: #fff;
    border-radius: 50%;
    background-image: url('../img/817910.jpg');
    background-repeat: no-repeat;
    background-position: center top -5px;
    background-size: 120%;
    border: 13px solid #fff;
}

/*features*/

.features {
    background-color: #000;

}

.features-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.features-item {
    flex-basis: 33%;
    margin-bottom: 63px;
}

.features-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 16px;
}

.features-image {
    margin-bottom: 22px;
}

.features-text {
    font-size: 16px;
    line-height: 28px;
    margin: 0;
}